.formContents {
    width: 400px;
}

.fcnt {
    display: flex;
    justify-content: center;
}

body {
    background-color: rgb(35, 224, 11);
};

@media screen and (max-width: 860px) {
    .fcnt {
        flex-direction: column;
        align-items: center;
    }

    .formContents {
        width: 300px;
    }

}